// Custom styles.
body,#header,#footer {
    background:#ffffcc;
    background-attachment:fixed;
}
#sidebar {
    background: #4ad391;
    background: -moz-linear-gradient(top,#4ad391 33%,#4cc4ef 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(33%,#4ad391),color-stop(100%,#4cc4ef));
    background: -webkit-linear-gradient(top,#4ad391 33%,#4cc4ef 100%);
    background: -o-linear-gradient(top,#4ad391 33%,#4cc4ef 100%);
    background: -ms-linear-gradient(top,#4ad391 33%,#4cc4ef 100%);
    background: linear-gradient(to bottom,#4ad391 33%,#4cc4ef 100%);
    box-shadow: 0 0 0 #fff;
}
#sidebar p,#sidebar a{
    color:#fff;
}